<div class="container-fluid app_explanation_container">
  <div class="app_explanation_sub_container">

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>福岡空港到着！</strong></h4>
      <p class="app_direction_p">福岡へようこそ〜</p>
      <p class="app_direction_p">機内、新幹線内に忘れ物をしないように！</p>
      <p class="app_direction_p">チェックインできるまで時間があるので、まずは博多駅に移動して大きな荷物はコインロッカーへ！</p>
      <p class="app_direction_p"></p>
    </div>

    <div class="row app_explanation_div">
      <h4 class=" col-12 app_direction_title"><strong>福岡1食目「shinshin」</strong></h4>

      <div class="col-5">
        <img src="/shinshin.jpg" alt="" width="320" height="250">
      </div>

      <div class="col-6">
        <div class="place_info">
          <p class="app_direction_p">屋台から生まれた真心の一杯！</p>
          <p class="app_direction_p">博多にきたら、shin&nbsp;shin！！</p>
        </div>

        <div class="event_info">
          <p class="app_direction_p">時間：18:00〜</p>
          <p class="app_direction_p event_info"><a href="http://www.hakata-shinshin.com/" target="_blank">店舗名：博多ラーメンshinshin</a></p>
          <p class="app_direction_p"><a href="https://goo.gl/maps/aNcv285AjY4iKuC27" target="_blank">住所：福岡県福岡市博多区博多駅中央街１−１</a></p>
        </div>
      </div>
    </div>

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>チェックイン</strong></h4>
      <p class="app_direction_p">住所：福岡県福岡市中央区〜</p>
      <p class="app_direction_p">建物名：〇〇</p>
    </div>

    <div class="row app_explanation_div">
      <h4 class="col-12 app_direction_title"><strong>水炊き 「橙」</strong></h4>
      <div class="col-6">
        <div class="place_info">
          <p class="app_direction_p">朝引き若鶏を使用した水炊き専門店!</p>
          <p class="app_direction_p">鶏の旨味が凝縮したスープが最高！</p>
          <p class="app_direction_p"><small>※お鍋の仕立てはすべてスタッフが行います。</small></p>
        </div>

        <div class="event_info">
　　　　　  <p class="app_direction_p">時間：19:00〜</p>
          <p class="app_direction_p"><a href="https://rakutenti.com/" target="_blank">店舗名：もつ鍋専門店 元祖 もつ鍋 楽天地 天神本店</a></p>
          <p class="app_direction_p"><a href="https://goo.gl/maps/vcDE1cJxX2R6MheM6" target="_blank">住所：福岡県福岡市中央区天神1-10-14</a></p>
        </div>
      </div>
      <div class="col-6">
        <img src="/mizutaki.jpg" alt="" width="320" height="250">
      </div>

      <div class="app_explanation_div">
        <h4 class="col-12 app_direction_title"><strong>〜餃子、お魚、屋台〜</strong></h4>

        <div class="col-12">
          <p class="app_direction_p">福岡には美味しいものがいっぱいあります！</p>
          <p class="app_direction_p">福岡にきた時ほど胃袋の大きさに悩まされることはない！限界まで詰め込みましょう〜！</p>
          <p class="app_direction_p"></p>
        </div>

        <div class="day1_end">
          <img class="col-3" src="/ninoni.jpg" alt="" width="50" height="230">
          <img class="col-3" src="/yatai.jpeg" alt="" width="50" height="230">
          <img class="col-3" src="/gomasaba.jpg" alt="" width="50" height="230">
      </div>
    </div>


    </div>
  </div>
</div>
