<div class="container-fluid app_explanation_container">
  <div class="app_explanation_sub_container">

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>福岡2日目！</strong></h4>
      <p class="app_direction_p">今日は糸島で海の幸を堪能しながらのんびり！</p>
      <p class="app_direction_p">夜はDICの仲間をもう一人加えてもつ鍋です！</p>
    </div>

    <div class="row app_explanation_div">
      <h4 class="col-12 app_direction_title"><strong>牡蠣小屋 「かきハウス正栄」</strong></h4>
      <div class="col-6">
        <div class="place_info">
          <p class="app_direction_p">自然豊かな糸島で丹精込めて育てた牡蠣</p>
          <p class="app_direction_p">網を囲んで殻ごと焼いて食べる楽しみは至福のひととき</p>
          <p class="app_direction_p">荻野さんにとっては下田さんとの思い出の食べ物ですね！</p>
          <p class="app_direction_p">サザエや帆立、車海老もあります！カワハギの刺身は最高〜〜</p>
        </div>

        <div class="event_info">
          <p class="app_direction_p"><a href="http://www.kaki-shoei.com/" target="_blank">店舗名：かきハウス 正栄</a></p>
          <p class="app_direction_p"><a href="https://goo.gl/maps/oZVrgBCDmRnW1gNG7" target="_blank">住所：福岡県糸島市志摩船越４１５−１７</a></p>
        </div>
      </div>

      <div class="col-6">
        <img src="/kakigoya.jpg" alt="" width="300" height="250">
      </div>
    </div>


    <div class="row app_explanation_div">
      <h4 class="col-12 app_direction_title"><strong>またいちの塩</strong></h4>
      <div class="col-5">
        <img src="/mataichi.jpg" alt="" width="300" height="250">
      </div>

　　　　<div class="col-6">
        <div class="place_info">
          <p class="app_direction_p">海岸線を走り続けた先にある塩工房「工房とったん」</p>
          <p class="app_direction_p">週一回の綺麗な海の日に組み上げた海水で作ります！</p>
          <p class="app_direction_p">ここで作られた塩を使った塩プリンは必食！</p>
        </div>

        <div class="event_info">
          <p class="app_direction_p"><a href="https://mataichi.info/" target="_blank">場所名：またいちの塩製塩所　工房とったん</a></p>
          <p class="app_direction_p"><a href="https://goo.gl/maps/oZVrgBCDmRnW1gNG7" target="_blank">住所：福岡県糸島市志摩船越４１５−１７</a></p>
        </div>
      </div>
    </div>


    <div class="row app_explanation_div">
      <h4 class="col-12 app_direction_title"><strong>糸島　PALM BEACH</strong></h4>
      <div class="col-6">
        <div class="place_info">
          <p class="app_direction_p">糸島・二見ヶ浦のリゾートモール</p>
          <p class="app_direction_p">目の前が海という絶好のロケーションに魅力的なお店が連なります！</p>
          <p class="app_direction_p">おすすめは波佐見焼きを扱う「HEY & Ho」</p>
        </div>

        <div class="event_info">
          <p class="app_direction_p"><a href="http://pb-gardens.com/" target="_blank">場所名：PALM BEACH</a></p>
          <p class="app_direction_p"><a href="https://goo.gl/maps/ErvodFrNuqaFGXVG7" target="_blank">住所：福岡県糸島市志摩船越４１５−１７</a></p>
        </div>
      </div>

      <div class="col-6">
        <img src="/palmbeach.jpg" alt="" width="300" height="250">
      </div>
    </div>

    <div class="row app_explanation_div">
      <h4 class="col-12 app_direction_title"><strong>もつ鍋 「楽天地」</strong></h4>
      <div class="col-5">
        <img src="/motu.jpg" alt="" width="300" height="250">
      </div>
      <div class="col-6">
        <div class="place_info">
          <p class="app_direction_p">博多名物の大本命！</p>
          <p class="app_direction_p">甘い脂がとろける～　本場のもつ鍋！！</p>
          <p class="app_direction_p">ここからはツッコミエンジニアの菊川さんも参戦！</p>
        </div>

        <div class="event_info">
          <p class="app_direction_p">時間：19:00〜</p>
          <p class="app_direction_p"><a href="https://rakutenti.com/" target="_blank">店舗名：もつ鍋専門店 元祖 もつ鍋 楽天地 天神本店</a></p>
          <p class="app_direction_p"><a href="https://goo.gl/maps/vcDE1cJxX2R6MheM6" target="_blank">住所：福岡県福岡市中央区天神1-10-14</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
