<div class="container-fluid app_explanation_container">
  <div class="app_explanation_sub_container">

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>福岡最終日！</strong></h4>
      <p class="app_direction_p">もう最終日！楽しい時間はあっという間（＞＜）</p>
      <p class="app_direction_p">悔いのないよう最終日も元気に楽しみましょう〜</p>
    </div>

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>チェックアウト</strong></h4>
      <p class="app_direction_p">宿を出る時ってすごく寂しい気分になりますよね💦</p>
      <p class="app_direction_p">忘れ物がないようにしっかり確認！！</p>
    </div>

    <div class="row app_explanation_div">
      <h4 class="col-12 app_direction_title"><strong>未定</strong></h4>
      <div class="col-6">
        <div class="place_info">
          <p class="app_direction_p"></p>
          <p class="app_direction_p"></p>
          <p class="app_direction_p"></p>
        </div>

        <div class="event_info">
          <p class="app_direction_p"><a href="" target="_blank"></a></p>
          <p class="app_direction_p"><a href="" target="_blank"></a></p>
        </div>
      </div>

      <div class="col-6">
        <img src="" alt="" width="300" height="250">
      </div>
    </div>

    <div class="row app_explanation_div">
      <h4 class="col-12 app_direction_title"><strong>未定</strong></h4>
      <div class="col-5">
        <img src="" alt="" width="300" height="250">
      </div>

　　　　<div class="col-6">
        <div class="place_info">
          <p class="app_direction_p"></p>
          <p class="app_direction_p"></p>
          <p class="app_direction_p"></p>
        </div>

        <div class="event_info">
          <p class="app_direction_p"></p>
          <p class="app_direction_p"><a href="" target="_blank"></a></p>
          <p class="app_direction_p"><a href="" target="_blank"></a></p>
        </div>
      </div>
    </div>

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>お土産タイム</strong></h4>
      <p class="app_direction_p">福岡のお土産は全て空港、博多駅に揃っています！</p>
      <p class="app_direction_p">最後にまとめて買うのがおすすめ！</p>
    </div>

  </div>
</div>
